@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
@theme {
  --color-accent: #d87d4a;
  --color-hover: #fbaf85;
  --color-body: #fafafa;
  --color-grey: #f1f1f1;
  --color-dark-grey: #4c4c4c;
  --color-text: #101010;
  --font-sans: 'Manrope', sans-serif;
  --text-h1: 3.5rem;
  --text-h2: 2.5rem;
  --text-h3: 2rem;
  --text-h4: 1.75rem;
  --text-h5: 1.5rem;
  --text-h6: 1.125rem;
  --text-smal: 0.8125rem;
  --text-main: 0.975rem;
  --spacing-container: min(90%, 75rem);
  --tracking-main: 0.125rem;
  --color-border: #cfcfcf;
  --color-error: #ff0000;
  --color-success: #00ff00;
  --color-warning: #ffcc00;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  interpolate-size: allow-keywords;
}
body:has(div.opened) {
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 11px;
}
*::selection {
  background-color: var(--color-accent);
  color: var(--color-body);
  opacity: 1;
}

body {
  scrollbar-width: 5px;

  scrollbar-color: var(--color-accent) var(--color-black);
  scrollbar-width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
  border: 3px solid var(--color-accent);
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body
  :where(:has(.product-wrapper), :has(.checkout-wrapper), :has(.dashboard))
  header {
  background-color: #000;
}

.nav-sub-menu li a {
  font-size: 0.875rem;
}

.nav-sub-menu {
  block-size: 0;
  transition: block-size 1s cubic-bezier(0.25, 1, 0.5, 1);
  overflow: hidden;
  transition-behavior: allow-discrete;
}

.nav-sub-menu.opened {
  block-size: auto;
}

.hero-img {
  background-image: url('./assets/desktop/image-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 95vh;
  max-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-position-x: 50%;
  background-size: cover;
}
@font-face {
  font-family: 'Manrope';
  src: url('./assets//fonts/Manrope-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: url('./assets//fonts/Manrope-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: url('./assets//fonts/Manrope-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: 'Manrope';
  src: url('./assets//fonts/Manrope-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
}

.circle-pattern::before {
  content: '';
  background-image: url('./assets/pattern-circles.svg');
  background-size: fill;
  background-position: -145px -30px;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 0;
}

.z7speaker {
  background-image: url('./assets/desktop/image-speaker-zx7.jpg');
}

.earphones {
  background-image: url('./assets/desktop/image-earphones-yx1.jpg');
}

@media screen and (max-width: 768px) {
  .hero-img {
    background-image: url('./assets/tablet/image-header.jpg');
  }
  .z7speaker {
    background-image: url('./assets/tablet/image-speaker-zx7.jpg');
  }
  .circle-pattern::before {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .hero-img {
    background-image: url('./assets/mobile/image-header.jpg');
  }
  .z7speaker {
    background-position-x: 50%;
    background-position-y: 100%;

    background-image: url('./assets/mobile/image-speaker-zx7.jpg');
  }
}

.social-icon:hover {
  filter: brightness(0) saturate(100%) invert(56%) sepia(57%) saturate(514%)
    hue-rotate(336deg) brightness(89%) contrast(89%);
}

/* min-height: 100%;
min-width: 100%;
max-height: 100vh;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1;
transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
object-fit: cover;
background-repeat: none; */

* {
  box-sizing: border-box;
}
*::selection {
  background-color: var(--color-accent);
  color: #fff;
  opacity: 1;
}

.cart-btn {
  position: absolute;
  top: -10px;
  right: -15px;
  scale: 0.8;
  color: #fff;
  font-weight: 700;
}

.cart-btn:after {
  content: attr(data-quantity);
  background-color: var(--color-accent);
  width: 25px;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
}

.images-grid {
  max-height: 592px;
  gap: 30px;
}

.images-grid .img-3 {
  grid-column: 2 / span 2;
}

@media screen and (max-width: 500px) {
  .images-grid {
    max-height: 100%;
    height: auto;
  }
  .images-grid .img-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .images-grid .img-2 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
  .images-grid .img-3 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .images-grid img {
    max-width: 310px;
  }
}

form {
  caret-color: var(--color-accent);
  caret-shape: bar;
}

.loader {
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
}

.bar {
  display: inline-block;
  width: 12px;
  height: 50px;
  background-color: var(--color-accent);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 75px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

.css-kibgh4-control {
  padding-block: 0.25rem;
}
